<div id="myCarousel" class="carousel slide carousel-fade" style="width: 100%; margin: 0px auto 0px">
<!-- <div id="myCarousel" class="carousel slide"> -->
    <div class="carousel-inner" style="background-color: black;"> <!-- start inner carousel contents -->
        <div class="item active carouselImg"> <!-- item active so carousel auto starts -->
                <img src="images/parkwood.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="h_yellow"></h1>
                        <p class="lead">Building #320</p><br>
                    </div>
                </div>
        </div> <!-- end first carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood1.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood3.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood4.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood5.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood6.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood7.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwoodpool.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood10.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood11.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood12.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood14.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood15.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood16.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/parkwood17.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow"></h1>
                    <p class="lead"></p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
    </div> <!-- end carousel inner -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> --> <!-- left control for carousel -->
    <!-- <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> --> <!-- right control for carousel -->
</div><!-- end my carousel -->
