<div class="row-fluid">
	<div class="span3">
		<div class="left-sidebar">
			<div class="header-brand">
				<h1>Parkwood Condos</h1>
				<h4 class="pull-right">Premium Condos in Oakland</h4>
				<div class="clear"></div>
			</div>
			<ul>
				<li>Available Units</li>
				<li>Ameneties</li>
				<li>Gallery</li>
				<li>Map</li>
				<li>News</li>
			</ul>
			<p>Listed by:</p>
			<a href="http://www.teamfastagents.com"><img src="images/teamfastagents.jpg"><a/><br>
				<a href="mailto: info@teamfastagents.com"><h4>info@teamfastagents.com</h4></a>
		</div>
	</div>
	<div class="span9">
		<div class="main-content">
        <%= render "carousel" %>
		</div>
		<div class="main-content-white center">
			<h1>Oakland's most sought after condominiums</h1>
		</div>
	</div>
</div>