// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";
/*@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Alex+Brush);*/
@import url(http://fonts.googleapis.com/css?family=Gruppo);

body, html {
	height: 100%;
	width: 100%;
	/*background-color: #2c3e50;*/
	background-color: black;
	margin: 0;
}

li {
	list-style: none;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.header-brand {
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	border-bottom: solid 2px #34495e;
	margin-bottom: 10px;
	height: 100%;
	/*font-family: 'Alex Brush', cursive;*/
	font-family: 'Gruppo', cursive;
	font-weight: 400;
}

.left-sidebar {
	color: #ecf0f1;
	background-color: #3498db;
	padding: 10px;
	height: 100vh;
	overflow: hidden;
}

.left-sidebar a {
	color: #ffa430;
	text-decoration: none;
}

.left-sidebar a:hover {
	color: #2be189;
}

.left-sidebar-nav-fixed {
	padding: 10px;
	color: #ecf0f1;
	background-color: #3498db;
	position:fixed;
	/*top:60px;*/
	width:21.97%;
	overflow: hidden;
 }

.left-sidebar-nav-fixed a {
	color: #ffa430;
	text-decoration: none;
}

.left-sidebar-nav-fixed a:hover {
	color: #2be189;
}

 @media (max-width: 767px) {
     .left-sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .left-sidebar-nav-fixed {
        position:static;
        width: auto;
     }
 }

 .main-content {
	padding: 10px;
	color: #ecf0f1;
	/*background-color: #467fa4;*/
	background-color: black;
	height: 100%;
}

.main-content-white {
	background-color: #cbcfda;
	height: 280px;
	padding: 10px;
	color: #463778;
}

/*added this for carousel fade*/

.carouselImg img{
	margin: 0 auto;
	width: 950px;
	height: 500px;
  /*max-height: 450px;*/
}

.carousel_iconImg img{
  width: 400px;
  height: 180px;
  /*max-height: 450px;*/
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}